* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.none {
    display: none;
}

.date > td {
    background-color: orange;
}

.out-of-stock > td {
    background-color: black;
    color: #fff !important;
}